@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* font-family: "Merriweather", serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
 /* font-family: "Inter", sans-serif; */

header{
    font-family: "Merriweather", serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Banner style starts here */

.banner-container{
    width: 1300px;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%) ,url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    border-radius: 16px;
    /* background-blend-mode: overlay; */
}

.banner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid white; */
}

.banner-subtitle{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-title{
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* Banner style ends here */


/* second-section style starts here */

#second-section-container{
    /* border: 1px solid black; */
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 120px;
}

.second-section-title{
    font-size: 88px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: red;
    text-align: center;
    margin-bottom: 45px;
}

.second-section-description{
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.second-section-subtitle{
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-bottom: 45px;
}
/* second-section style ends here */

/* midnight party section style starts here */

#third-section-container{
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png");
    /* background-size: cover; */
    /* background-position: center; */
    margin-bottom: 120px;
    /* border: 1px solid black; */
}

#third-section-container h1{
    color: white;
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    padding: 120px 0 0 120px;
    /* border: 1px solid white; */
}

#third-section-container p{
    color: white;
    text-align: left;
    font-size: 16px;
    opacity: 0.6;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding: 24px 0 0 120px;
}

#third-section-container button{
    color: white;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    padding: 45px 0 140px 155px;
}

/* midnight party section style ends here */


/* Hotel event section style starts here */

#fourth-section-container{
    width: 1300px;
    height: 480px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    margin-bottom: 120px;
    /* border: 1px solid black; */
}

.fourth-section-content{
    padding: 100px 380px 210px 380px;
    text-align: center;
}

.fourth-section-content h4{
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    font-family: "Inter", sans-serif;
}

.fourth-section-content span{
    color: red;
}

.fourth-section-content button{
    margin-top: 45px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    color: white;
    background-color: red;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
}


/* Hotel event section style ends here */


/* Best offer section style starts gere */

#best-offer-container{
    width: 1300px;
    height: 460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 120px;
    /* border: 1px solid black; */
}

#best-offer-container h5{
    color: red;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}

#best-offer-container h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    margin-bottom: 22px;
}

#best-offer-container p{
    color: #070211;
    /* color: rgba(7, 2, 17, 0.6); */
    opacity: 60%;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.candle-img{
    width: 460px;
    height: 460px;
    border: 10px solid red;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 20px;
}

.candle-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.year-title{
    color: red;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}

.year-description{
    color: #070211;
    opacity: 60%;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Best offer section style ends gere */